
#menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #ff7e36;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

#menu .category {
    width: 56px;
    height: 117px;
    position: absolute;
    right: 60px;
    top: 120px;
}

.toggle {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 10000;
}

#navi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 1;
}

#navi .menu{
    padding: 20px;
}

#navi .g_sticker {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: -104px;
    opacity: 0;
    pointer-events: none;
    animation: rotation 5s infinite linear paused;
}

#navi > div .g_sticker > div:nth-child(1){
    animation: rotation 3s reverse infinite linear paused;
}
#navi > div .g_sticker > div:nth-child(2){
    animation: rotation 2.3s infinite linear paused;
}
#navi > div .g_sticker > div:nth-child(3){
    animation: rotation 1.5s reverse infinite linear paused;
}


#navi > div:hover .g_sticker,
#navi > div:hover .g_sticker > div{
    opacity: 1;
    animation-play-state: running;
}

@keyframes rotation {
    to{
        transform: rotate(1turn);
    }
}



#navi .g_sticker .s01{
    position: absolute;
    top: 219px;
    left: 197px;
}

#navi .g_sticker .s02{
    position: absolute;
    left: -73px;
    bottom: 103px;
}

#navi .g_sticker .s03{
    position: absolute;
    right: 91px;
    top: -82px;
}

#navi .g_sticker .s04{
    position: absolute;
    top: 74px;
    left: 268px;
}

#navi .g_sticker .s05{
    position: absolute;
    left: -73px;
    bottom: 103px;
}

#navi .g_sticker .s06{
    position: absolute;
    right: 91px;
    top: -82px;
}

#navi .g_sticker .s07{
    position: absolute;
    top: 74px;
    left: 268px;
}

#navi .g_sticker .s08{
    position: absolute;
    left: -73px;
    bottom: 103px;
}

#navi .g_sticker .s09{
    position: absolute;
    right: 91px;
    top: -82px;
}

.menu-open {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 30px;
    top: 0;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.logo {
    position: absolute;
    left: 50px;
}

.home {
    position: absolute;
    right: 130px;
    top: 42px;
    z-index: 1502;
}

.category {
    position: absolute;
    top: 120px;
    right: 50px;
}

.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

/*.scroll-content {*/
/*    !*overflow: hidden;*!*/
/*}*/

#section01{
    width: 100%;
    height: 980px;
    display: flex;
    justify-content: center;
    /*background-color: #fff3ee;*/
    background-image: url("../images/sub01/visual_bg.jpg");
    background-size: 100% 100%;
}

#section01 .visual_bg {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

#section01 .visual {
    width: 1520px;
    height: 980px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

#section01 .title {
    margin: 125px auto 0;
}

#section01 .visual .people01{
    position: absolute;
    bottom: 0;
    left: 0;
}

#section01 .visual .people02{
    position: absolute;
    bottom: 0;
    right: 0;
}

#section01 .scroll {
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    animation: scroll 1s infinite alternate;
}

@keyframes scroll {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }

}

#section02, #section03{
    width: 100%;
    height: 980px;
    background: #ff7e36;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/sub01/section02_bg.jpg");
    background-size: 100% 100%;
}

#section02 .message {
    /*background: #000;*/
    width: 1280px;
    height: 409px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#section02 .message .m_01:hover {
    background: url("../images/sub01/section02_bg.jpg");
    width: 212px;
    height: 102px;
    border-radius: 55px;
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-content: center;
}


#section02 .message .m_01 .on {
    display: none;
}

#section02 .message .m_01:hover .on {
    display: block;
}


#section02 .message .m_01:hover .off {
    display: none;
}

#section02 .message .m_01, #section02 .message .m_08{
    width: 220px;
    height: 110px;
    border-radius: 55px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
}

#section02 .message .off, #section02 .message .on, #section02 .message .m_08 > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section02 .wrap {
    width: 100%;
    height: 127px;
    /*background: red;*/
    display: flex;
    align-items: center;
}

#section02 .wrap:nth-child(2) {
    /*background: blue;*/
    margin: 13px 0;
}

#section02 .wrap > .num {
    margin-right: 10px;
}

#section02 .message .m_03 {
    position: absolute;
    right: 0;
    margin-right: 0;
}

#section02 .message .img03 {
    margin-left: 20px;
}

#section02 .message .img04 {
    position: absolute;
    right: 30px;
}

#section02 .message .m_05 {
    position: relative;
    width: 100%;
    height: 100%;
    left: 28px;
    top: 0;

}

#section02 .message .m_06 {
    position: relative;
    left: -131px;
    top: 4px;
    width: 100%;
    height: 100%;
}

#section02 .message .m_05 .change {
    position: absolute;
    left: 80px;
    top: 37px;
}

#section02 .message .m_06 .change {
    position: absolute;
    left: 220px;
    top: 34px;

}

#section02 .message .m_07 .change {
    margin-right: 335px;

}

#shape{
    position: absolute;
    left: 0;
    top: 0;
}

#shape02{
    position: absolute;
    left: 145px;
    bottom: 10px;
}

#shape03{
    position: absolute;
    left: 607px;
    bottom: 10px;
}


#section02 .message .m_08 {
    margin-right: 0;
    position: absolute;
    right: 0;
}

#section02_1 {
    width: 100%;
    height: 213px;
    background: transparent;
    position: absolute;
    left: 0;
    top: 1861px;
    z-index: 1111;
}


/*ë 1*/
#section02_1 .band01 {
    width: 100vw;
    position: absolute;
    top: 59px;
    transform: rotate(357deg);
}

#section02_1 .band01 .cover{
    display: flex;
    justify-content: flex-end;
    animation: band01 15s infinite linear;
}


@keyframes band01 {
    to{
        transform: translateX(3120px);
    }
}

#section03 .service{
    transform: translateY(30px);
    opacity: 0;
    transition: all 1s;
}

#section03.on .service{
    transform: translateY(0);
    opacity: 1;
}

#section04{
    width: 100%;
    height: 980px;
    background: #fff3ee;
    display: flex;
    justify-content: center;
}

#section04 .wrap {
    display: flex;
    width: 1280px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

#section04 .wrap .box {
    width: 22%;
    margin-left: -10px;
    height: 55%;
    position: relative;
}

#section04 .wrap .box .tit {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(30);
    opacity: 0;
    transition: all 1s;
}

#section04.on .wrap .box .tit {
    opacity: 1;
    transform: translateY(0);
}

#section04 .wrap .box .view_btn{
    position: absolute;
    left: 0;
    top: 230px;
    transform: translateY(30);
    opacity: 0;
    transition: all 1s;
}

#section04.on .wrap .box .view_btn {
    opacity: 1;
    transform: translateY(0);
}


#section04 .meet {
    width: 1300px;
    height: 580px;
    position: absolute;
    left: 310px;
    top: 187px;
}

#section04 .meet .swiper-slide{
    width: 347px;
    height: 550px;
    position: relative;

}

#section04 .meet .swiper-slide > div{
    transform:scale(0.9);
    transition: all 1s;
    transform-origin: center bottom;
}

#section04 .meet .swiper-slide.swiper-slide-active > div{
    transform:scale(1);
}
#section04 .meet .swiper-slide .fill{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 1s;
}

#section04 .meet .swiper-slide.swiper-slide-active .fill{
    opacity: 1;
}

#section04 .wrap .drag {
    position: absolute;
    top: 180px;
    right: -100px;
    z-index: 999;
}
#section04 .bar {
    width: 500px;
    height: 4px;
    position: absolute;
    bottom: 120px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 2px;
}
.swiper-scrollbar-drag{
    background: #ff7e36;
}


#section05{
    width: 100%;
    height: 1310px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/sub01/section04_bg.jpg");
    background-size: 100% 100%;
}

#section05 .wrap{
    width: 1280px;
}

#section05 .wrap .tit {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(30px);
    opacity: 0;
    transition: all 1s;
}

#section05.on .wrap .tit {
    transform: translateY(0);
    opacity: 1;
}

#section05 .wrap .box {
    margin-top: 75px;
}

#section05 .wrap .question {
    width: 100%;
    position: relative;
}

#section05 .wrap .question > div {
    display: flex;
    align-items: center;
}

#section05 .wrap .question .off_box{
    height: 105px;
}

#section05 .wrap .question .text {

    margin-left: 15px;
}

#section05 .wrap .question .text img {
    margin: 38px 30px;
}

#section05 .wrap .question .on_box{
    display: none;
    width: 100%;
    /*height: 100%;*/
    background: #fff;
    border-radius: 8px;
}

#section05 .wrap .on {
    width: 100%;
    height: 133px;
    border-radius: 8px;
}

#section05 .wrap .off {
    width: 100%;
    /*height: 100px;*/
}

#section05 .wrap .question .close_btn{
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

#section05 .wrap .question .open_btn {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

#section05 .wrap .line {
    width: 100%;
    height: 2px;
    border: 10px;
    background: #fd8d4e;

}

#section05 .box {
    position: relative;
}

#section05 .g_sticker {
    position: absolute;
    right: 195px;
    top: 456px;
}

#section05 .g_sticker .s_01 {
    position: absolute;
    right: 136px;
    top: 21px;
}

#section05 .g_sticker .s_02 {
    position: absolute;
    top: 149px;
    right: 22px;
}

#section05 .g_sticker .s_03 {
    position: absolute;
    top: 261px;
    right: 279px;
}

#section05 .wrap .tip {
    margin-top: 30px;
}


#section06 {
    width: 100%;
    height: 294px;
    background: #201f24;
}

#section06 > div {
    width: 100%;
    height: 100%;
    background: url("../images/sub01/footer.jpg") no-repeat center;
}


#band {
    width: 100%;
    height: 265px;
    background: transparent;
    position: absolute;
    left: 0;
    z-index: 1111;
    bottom: 1403px;

}

#band  .band02 {
    position: absolute;
    left: 0;
    bottom: 56px;
    width: 100vw;
    transform: rotate(3deg);
}

@keyframes band {
    to{
        transform: translateX(-3120px);
    }
}

#band  .band02 .cover {
    display: flex;
    justify-content: flex-end;
    animation: band01 15s infinite linear;
}

#band  .band03 {
    position: absolute;
    left: 0;
    bottom: 178px;
    display: flex;
    animation :band 15s infinite linear;
}

.top {
    width: 56px;
    height: 56px;
    position: fixed;
    right: 50px;
    z-index: 8988;
    bottom: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.top svg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)rotate(-90deg);
}

.top circle{
    stroke-dashoffset: 157;
    stroke-dasharray: 157;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 2px;
    fill: transparent;
}





