
#menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #ff7e36;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

#menu .category {
    width: 56px;
    height: 117px;
    position: absolute;
    right: 60px;
    top: 120px;
}

.toggle {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 10000;
}

#navi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    z-index: 1;
}

#navi .menu{
    padding: 20px;
}

#navi .g_sticker {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: -104px;
    /*background: red;*/
    opacity: 0;
    pointer-events: none;
    animation: rotation 5s infinite linear paused;
}

#navi > div .g_sticker > div:nth-child(1){
    animation: rotation 3s reverse infinite linear paused;
}
#navi > div .g_sticker > div:nth-child(2){
    animation: rotation 2.3s infinite linear paused;
}
#navi > div .g_sticker > div:nth-child(3){
    animation: rotation 1.5s reverse infinite linear paused;
}


#navi > div:hover .g_sticker,
#navi > div:hover .g_sticker > div{
    opacity: 1;
    animation-play-state: running;
}

@keyframes rotation {
    to{
        transform: rotate(1turn);
    }
}



#navi .g_sticker .s01{
    position: absolute;
    top: 219px;
    left: 197px;
}

#navi .g_sticker .s02{
    position: absolute;
    left: -73px;
    bottom: 103px;
}

#navi .g_sticker .s03{
    position: absolute;
    right: 91px;
    top: -82px;
}

#navi .g_sticker .s04{
    position: absolute;
    top: 74px;
    left: 268px;
}

#navi .g_sticker .s05{
    position: absolute;
    left: -73px;
    bottom: 103px;
}

#navi .g_sticker .s06{
    position: absolute;
    right: 91px;
    top: -82px;
}

#navi .g_sticker .s07{
    position: absolute;
    top: 74px;
    left: 268px;
}

#navi .g_sticker .s08{
    position: absolute;
    left: -73px;
    bottom: 103px;
}

#navi .g_sticker .s09{
    position: absolute;
    right: 91px;
    top: -82px;
}

.menu-open {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 30px;
    top: 0;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.logo {
    position: absolute;
    left: 50px;
}

.home {
    position: absolute;
    right: 130px;
    top: 42px;
    z-index: 1502;
}

.category {
    position: absolute;
    top: 120px;
    right: 50px;
}




.startPoint{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;

}

#section01{
    width: 100%;
    height: 980px;
    display: flex;
    justify-content: center;
    background-image: url("../images/sub02/visual_bg.jpg");
    background-size: 100% 100%;
}

#section01 .visual_bg {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

#section01 .visual {
    width: 1520px;
    height: 980px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

#section01 .title {
    margin: 125px auto 0;
}

#section01 .visual .people01{
    position: absolute;
    bottom: 0;
    left: 257px;
}

#section01 .visual .people02{
    position: absolute;
    bottom: 0;
    right: 282px;
}

#section01 .visual .arm {
    position: absolute;
    bottom: 3px;
    right: 293px;
    transform-origin: 90% 15%;
    animation: arm 2s infinite alternate;
}

@keyframes arm {

    to{
        transform: rotate(-10deg);
    }
}



#section01 .scroll {
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    animation: scroll 1s infinite alternate;
}

@keyframes scroll {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }

}

#section02 {
    width: 100%;
    height: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/sub02/section02_bg.jpg");
    background-size: 100% 100%;
}

#section02 .wrap {
    margin-bottom: 130px;
}

#section02 .message {
    /*!*background: #000;*!*/
    width: 1280px;
    height: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    /*position: relative;*/
}

/*ë 1*/
#section02 .band01 {
    position: absolute;
    left: 0;
    top: 714px;
    z-index: 111;
}

#section02 .green_top {
    position: absolute;
    bottom: 0;
    right: 0;
}

#section02 .green_top img {
    width: 100vw;
}

#section03 {
    width: 100%;
    height: 912px;
    /*z-index: 110;*/
    background: #00b393;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section03 .wrap {
    position: relative;
}

#section03 .wrap .tit{
    display: flex;
    justify-content: center;
}

#section03 .wrap .tape {
    position: absolute;
    top: 100px;
    right: -100px;
}

#section03 .box {
    width: 1030px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    justify-content: space-between;
    margin-top: 40px;
}

#section03 .box .video {
    background: #ffffff;
    display: flex;
    width: 330px;
    height: 549px;
    border-radius: 16px;
    position: relative;
    transform: skew(360deg, 357deg);
    overflow: hidden;
}

#section03 .box .video:nth-child(1) {
    margin-top: 60px;
}

#section03 .box .video:nth-child(2) {
    margin-top: 20px;
}

#section03 .box .video:nth-child(3) {
    margin-top: -20px;
}

#section03 .box .video video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: skew( 0, 3deg);
}

#section04{
    width: 100%;
    height: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/sub02/section02_bg.jpg");
}

#section04 .green_bottom {
    position: absolute;
    top: 0;
    right: 0;
}

#section04 .green_bottom img {
    width: 100vw;
}

#section04 .wrap {
    width: 1280px;
    height: 100%;
    position: relative;
}

#section04 .wrap .tit {
    display: flex;
    justify-content: center;
    margin: 169px 0 60px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 1s;
}

#section04.on .wrap .tit{
    transform: translateY(0);
    opacity: 1;
}

#section04 .wrap .box {
    width: 985px;
    height: 523px;
    background: #ffffff;
    border: 20px solid #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
}

#section04 .wrap .man {
    position: absolute;
    left: 208px;
    top: 176px;
}

#section04 .box .video_box {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #000;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#section04 .box .video_box .opacity {
    background: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#section04 .box .video_box .video{
    transform:scale(1.2);
}
#section04 .box .video_box video {
    width: 100%;
    height: 100%;
}

#section04 .box .video_box .play {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    position: absolute;
    top: 42%;
    left: 45%;
}

#section04 .box .women {
    position: absolute;
    bottom: -22px;
    right: 0;
}

#section05{
    width: 100%;
    height: 1251px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/sub02/section05_bg.jpg");
    overflow: initial;
    position: relative;
}

#section05 .wrap{
    width: 100%;
    position: relative;
}

#section05 .wrap .container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}


#section05 .wrap .star_01 {
    position: absolute;
    top: 312px;
    left: 39px;
}

#section05 .wrap .star_02 {
    position: absolute;
    right: 46px;
    top: 853px;
}

#section05 .wrap .box {
    z-index: 999;
    position: relative;
    justify-content: center;
    display: flex;
    transform: translateY(30px);
    opacity: 0;
    transition: all 1s;
}

#section05.on .wrap .box {
    transform: translateY(0);
    opacity: 1;
}

#section05 .wrap .event {
    z-index: 999;
    position: relative;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    transform: translateY(30px);
    opacity: 0;
    transition: all 1s;
}

#section05.on .wrap .event {
    transform: translateY(0);
    opacity: 1;
}

#section05 .g_sticker {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

#section05 .wrap .g_sticker > div {
    transform: scale(0);
    transition: all 1s;
}

#section05 .wrap.on .g_sticker > div {
    transform: scale(1);
}

#section05 .g_sticker > div:nth-child(1) {
    transition-delay:0.2s;
}

#section05 .g_sticker > div:nth-child(2) {
    transition-delay:0.4s;
}

#section05 .g_sticker > div:nth-child(3) {
    transition-delay:0.6s;
}

#section05 .g_sticker > div:nth-child(4) {
    transition-delay:0.8s;
}

#section05 .g_sticker > div:nth-child(5) {
    transition-delay:1s;
}

#section05 .g_sticker .s_01 {
    position: absolute;
    top: -1055px;
    right: 0;
}

#section05 .g_sticker .s_02 {
    position: absolute;
    top: -173px;
    left: 40px;
}

#section05 .g_sticker .s_03 {
    position: absolute;
    top: -130px;
    right: 153px;
}

#section05 .g_sticker .s_04 {
    position: absolute;
    top: 306px;
    right: 0;
    overflow: hidden;
}

#section05 .g_sticker .s_04 img{
    position: relative;
    left: 144px;
}

#section05 .g_sticker .s_05 {
    position: absolute;
    bottom: 48px;
    left: 157px;
}

.move {display: none}

.band03 {
    position: absolute;
    bottom: 1374px;
}

.band02 {
    position: absolute;
    bottom: 1550px;
}

#section06 {
    width: 100%;
    height: 294px;
    background: #201f24;
}

#section06 > div {
    width: 100%;
    height: 100%;
    background: url("../images/sub02/footer.jpg") no-repeat center;
}

#section07 {
    width: 100%;
    height: 220px;
    background: transparent;
    position: absolute;
    left: 0;
    z-index: 111;
    top: 1771px;
}

#section07  .band01 {
    position: absolute;
    left: 0;
    top: 77px;
    width: 100vw;
    transform: rotate(357deg);
}

@keyframes band {
    to{
        transform: translateX(-3120px);
    }
}

#section07  .band01 .cover {
    display: flex;
    animation: band 15s infinite linear;
}

.top {
    width: 56px;
    height: 56px;
    position: fixed;
    right: 50px;
    z-index: 8988;
    bottom: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top svg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)rotate(-90deg);
}

.top circle{
    stroke-dashoffset: 157;
    stroke-dasharray: 157;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 2px;
    fill: transparent;
}














